<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.bigmachini.challange.journalapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_journal_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".JournalListActivity"
            android:label="@string/title_activity_journal_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JournalCreateActivity"
            android:label="@string/title_activity_journal_create"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".JournalDetailsActivity"
            android:label="@string/title_activity_journal_details"
            android:parentActivityName=".JournalListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.bigmachini.challange.journalapp.JournalListActivity" />
        </activity>
    </application>

</manifest>